:root {
  --background-color: #000000;
  --table-color: #FFFFFF;
  --tile-color: #CCCCCC;
  --discovered-color: #272727;
  --wrong-color: #CC0000;
  --mine-image: url("/src/media/bomb.svg");
  --flag-image: url("/src/media/flag.svg");
}


body {
  margin: 0;
  min-width: 100dvw;
  min-height: 100dvh;
  background-color: var(--background-color);
  font-family: monospace;
  font-size: 14px;
  display: flex;
  flex-direction: column;
  align-items: center;
  overflow: auto;
}

header,
main,
footer {
  margin: 8px;
}

header img {
  max-width: 100%;
}

main {
  flex-grow: 1;
  max-width: 100%;
}

footer {
  text-align: center;
}

footer>div:nth-child(2) {
  margin: 8px;
}

footer button {
  all: unset;
  color: var(--table-color);
  background-color: var(--background-color);
  text-decoration: underline;
  cursor: pointer;
}

footer label {
  color: var(--table-color);
  background-color: var(--background-color);
}

#mijnveger,
#mijnveger td,
#mijnveger th {
  border: 1px var(--table-color) solid;
  background-color: (var(--background-color));
}

#mijnveger thead th {
  color: var(--table-color);
  background-color: var(--background-color);
}

#mijnveger tbody td {
  height: 1.4em;
  min-width: 1.4em;
  color: var(--background-color);
  background: var(--tile-color);
  font-weight: bold;
  position: relative;
  font-size: 2.2em;
  background-size: 1em;
  background-repeat: no-repeat;
  background-position: center center;
}

#mijnveger tbody td::after {
  position: absolute;
  inset: 0;
  display: flex;
  justify-content: center;
  align-items: center;
}

#mijnveger tbody td:hover {
  filter: brightness(1.15);
}

#mijnveger.unplayable {
  cursor: not-allowed;
}

#mijnveger.unplayable *::selection {
  all: unset;
}

#mijnveger.unplayable tbody td:hover {
  filter: unset;
}

#mijnveger tbody td.discovered {
  --tile-color: var(--discovered-color);
}

#mijnveger tbody td.mine {
  background-image: var(--mine-image);
}

#mijnveger tbody td.flag {
  background-image: var(--flag-image);
}

#mijnveger tbody td.wrong {
  background-color: var(--wrong-color);
}


/* 1 */
#mijnveger tbody td.one {
  --tile-color: #DDFAC3;
}

#mijnveger tbody td.one::after {
  content: "1";
}

/* 2 */
#mijnveger tbody td.two {
  --tile-color: #ECEDBF;
}

#mijnveger tbody td.two::after {
  content: "2";
}

/* 3 */
#mijnveger tbody td.three {
  --tile-color: #EDDAB4;
}

#mijnveger tbody td.three::after {
  content: "3";
}

/* 4 */
#mijnveger tbody td.four {
  --tile-color: #EDC38A;
}

#mijnveger tbody td.four::after {
  content: "4";
}

/* 5 */
#mijnveger tbody td.five {
  --tile-color: #F7A1A2;
}

#mijnveger tbody td.five::after {
  content: "5";
}

/* 6 */
#mijnveger tbody td.six {
  --tile-color: #FEA785;
}

#mijnveger tbody td.six::after {
  content: "6";
}

/* 7 */
#mijnveger tbody td.seven {
  --tile-color: #FF7D60;
}

#mijnveger tbody td.seven::after {
  content: "7";
}

/* 8 */
#mijnvegertbody td.eight {
  --tile-color: #FF323C;
}

#mijnveger tbody td.eight::after {
  content: "8";
}